# Need to get the CPU version of torch packages from here:
# These are needed because the deployed app doesn't have much room for the full version
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.10.0+cpu
torchvision==0.11.0+cpu

#These other packages can be found on PyPi
streamlit==1.11.1
Pillow==9.0.0
pandas==1.4.3
tqdm==4.62.3
albumentations==1.1.0
scikit-learn==1.1.2
scipy
scikit-image
opencv-python-headless==4.6.0.66
matplotlib==3.5.2
pytorch-lightning==1.6.5
pyocclient==0.6