# Need to get the CPU version of torch packages from here:
# These are needed because the deployed app doesn't have much room for the full version
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.10.0+cpu
torchvision==0.11.0+cpu

Pillow==9.0.0
pandas==1.4.3
tqdm==4.62.3
albumentations==1.1.0
opencv-python-headless==4.6.0.66
pytorch-lightning==1.6.5
Flask==3.0.0
waitress==2.1.2
